:root {
  --primary-100: #d4eaf7;
  --primary-200: #b6ccd8;
  --primary-300: #3b3c3d;
  --accent-100: #71c4ef;
  --accent-200: #00668c;
  --text-100: #1d1c1c;
  --text-200: #313d44;
  --bg-100: #fffefb;
  --bg-200: #f5f4f1;
  --bg-300: #cccbc8;
}

/* 基本樣式 */
body {
  margin: 0;
  background-color: var(--bg-100);
  color: var(--text-100);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-family: 'Dancing Script', cursive;
}

button {
  background: linear-gradient(135deg, var(--primary-100), var(--primary-200));
  color: var(--text-100);
  border: 2px solid var(--accent-100);
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

button:hover {
  background: linear-gradient(135deg, var(--accent-100), var(--primary-200));
  transform: scale(1.1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: 'Dancing Script';
  src: url('./assets/fonts/DancingScript-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}
